/* css reset */
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
 dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
 pre,   /* text formatting elements 文本格式元素 */
 form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
 th, td /* table elements 表格元素 */ {
     margin: 0;
     padding: 0;
 }
a, a:hover {text-decoration:none}
ul, ol {list-style: none; }
table {border-collapse: collapse; border-spacing: 0; }
fieldset, img {border: 0px; } 
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}

.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.header {
    height: 663px;
    background: url(../images/header1.jpg);
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.header h1 {
    padding-top: 200px;
    font-size: 50px;
}

.header h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #757575;
}

.need {
    width: 650px;
    height: 90px;
    background: url(../images/line.png) no-repeat center center;
    margin: 0 auto;
    margin-top: 100px;
}

.need ul li {
    float: left;
    margin-right: 100px;
}

.need ul li:first-child {
    margin-left: 46px;
}

.need ul li:last-child {
    margin-right: 0px
}

.need-link {
    display: block;
    width: 135px;
    height: 58px;
    border-radius: 5px;
    margin: 48px auto 0;
    background: #F96F65;
    color: #fff;
    line-height: 58px;
}

.service {
    height: 450px;
    background: #fff;
}

.column {
    width: 33.3%;
    float: left;
    margin: 0 auto;
    position: relative;
}

.service ul {
    padding-top: 150px;
    padding-left: 110px;
    float: left;
}

.column .title {
    font-size: 23px;
    height: 40px
}

.column .sub-title {
    font-size: 30px;
    padding: 20px 0 70px;
}

.column i {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50px;
    top: 138px;
}

.column-one i {
    background: url(../images/list1.png) no-repeat;
}

.column-two i {
    background: url(../images/list2.png) no-repeat;
}

.column-three i {
    background: url(../images/list3.png) no-repeat;
}


/* .column-one .title{
	background: url(../images/list1.png) no-repeat;
	background-position: -13px -11px;
}
.column-two .title{
	background: url(../images/list2.png) no-repeat;
	background-position: -13px -11px;
}
.column-three .title{
	background: url(../images/list3.png) no-repeat;
	background-position: -13px -11px;
} */

.case-list {
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.case-list h1 {
    font-size: 40px;
    padding-bottom: 30px;
    color: #414141;
}

hr {
    width: 1200px;
    margin: 0 auto;
    color: #eee;
}

.case-list ul {
    display: block;
    width: 570px;
    height: 40px line-height: 40px;
    margin: 0 auto;
    display: block;
}

.case-list li {
    float: left;
}

.case-list li a {
    display: block;
    margin: 25px 57px;
    font-size: 18px;
    color: #9e9e9e;
}

.case img {
    height: 100%;
    width: 100%;
}

.banner {
    position: relative;
    height: 950px;
    background: #fff;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    right: 50px;
    top: 80px
}

.logo1 {
    position: absolute;
    left: 80px;
    top: 80px;
}

.footer {
    height: 200px;
}

.contact {
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    color: #424242;
}

.contact h1 {
    font-size: 25px;
    padding-bottom: 20px;
}

.contact p {
    line-height: 25px;
}

.contact a {
    color: #424242;
}

.followus {
    float: right;
    margin-right: 150px;
    margin-top: 80px;
}

.followus a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -4px -4px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
    margin-right: 30px;
}

.followus a:hover {
    opacity: 1;
}

.followus .qq {
    background-position: -55px -4px;
}

.followus .weibo {
    background-position: -105px -4px;
}

.copyright {
    font-size: 14px;
    margin: 10px 0 50px;
    text-align: center;
}

